* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: black;
  }

  .clock-container {
    border: solid white 5px;
    box-shadow: 0 8px 20px rgba(255, 242, 242, 0.5);
    padding:30px 40px;
    background-color: black;
    text-align: center;
  }

  .time {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(248, 6, 6, 0.795);
  }

  .date {
    margin-top: 20px;
    font-size: 24px;
    color: #cfcfcf;
    text-shadow: 0 0 10px rgba(248, 6, 6, 0.795);
  }

  .day {
    margin-top: 10px;
    font-size: 20px;
    color: #aaaaaa;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(248, 6, 6, 0.795);
  }
